# Editor backups and generated
*~
/tags
.*.swp

# From Github C.gitignore/Fortran.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Byte-compiled python
__pycache__/
*.py[cod]

# From Github Autotools.gitignore
# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
.dirstamp

# VBFNLO custom files
.libs
.deps
/config
/include/VBFNLO
/include/done-all-links
/config.log
/config.status
/libtool

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/vbfnlo
/src/vbfnlo_olpread
/src/ggflo

# *.in files that get generated
/loops/Integrals/FF/ff/aa.h
/loops/Integrals/FF/ff/ff.h
/loops/Integrals/FF/ff/ffinit.f
/src/LTools.F
/utilities/CC_boxes.F
/utilities/CC_pentagons.F
/utilities/CC_qqV.F
/utilities/FHiggs.F
/utilities/NC_boxes.F
/utilities/NC_pentagons.F
/utilities/NC_qqV.F
/utilities/VBFNLOConfig.h
/utilities/VBFNLOConfig.h.in
/utilities/ew_formfactors.F
/utilities/ew_qqV_eff.F
/utilities/getPaths.F90
/utilities/mat_elCC+.F
/utilities/mat_elNC+.F
/utilities/pdfsets.F90
/utilities/renormalisation.F
/utilities/stamp-h1
/utilities/version.F90
/utilities/version.tmp

# FF quad precision files that get generated
loops/Integrals/FF/ff/ff.quad.h
loops/Integrals/FF/ff/ff*.quad.F

# LaTeX-generated files in doc/
/doc/Manual.aux
/doc/Manual.log
/doc/Manual.out
/doc/Manual.pdf
/doc/Manual.toc

# regress directory runs
/regress/deletedat
/regress/*/*.dat
/regress/*/sps1a.slha
/regress/*/grid*
/regress/*/GRID
/regress/*/LoopTools.out
/regress/*/xsection.out
/regress/*/histograms.dir

# ignore build directories, allow multiple
/build*
